CLIENT_PORT=47831
SERVER_PORT=47832
POSTGRES_HOST=localhost
POSTGRES_PORT=47833
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_ADMIN_DATABASE=postgres
POSTGRES_DATABASE=banking_app
ALLOWED_ORIGIN=http://localhost:47831
